<div class="page-title">
    <h2><?php echo __('Votre commande a été annulée.') ?></h2>
</div>
<p>
    <?php if ($block->getRealOrderId()) : ?><?php echo __('La reference # est: ') . $block->getRealOrderId() ?><?php endif ?>.
</p><br/>
<p><?php echo __('Votre paiement avec Orange Money n\'a pas été éffectué correctement.') ?></p>
<p><?php echo __('Une erreur s\'est produite dans le processus de paiement.') ?></p>
