<div class="mvola-logo">
    <a href="#" title="<?php echo Mage::helper('mvola')->__('Paiement avec MVola') ?>" onclick="javascript:window.open('<?php echo $this->getAboutMvolaPageUrl() ?>','MVola','width=600,height=350,left=0,top=0,location=no,status=yes,scrollbars=yes,resizable=yes'); return false;">
        <img src="<?php echo $this->escapeHtml($this->getLogoImageUrl()) ?>" alt="<?php echo Mage::helper('mvola')->__('Paiement avec MVola') ?>" title="<?php echo Mage::helper('mvola')->__('Information supplémentaire MVola') ?>" />
    </a>
</div><br/>