<div class="page-title">
    <h2><?php echo __('Votre commande a été annulée.') ?></h2>
</div>
<p>
<!--    <img class="mvola-logo-validation" src="--><?php //echo $this->getViewFileUrl('Telma_Mvola::images/mvola/mvola.gif') ?><!--" alt="--><?php //echo __('Paiement avec MVola') ?><!--" title="--><?php //echo __('Paiement avec MVola') ?><!--" />-->

    <?php if ($block->getRealOrderId()) : ?><?php echo __('La reference # est: ') . $block->getRealOrderId() ?><?php endif ?>.
</p><br/>
<p><?php echo __('Votre paiement avec MVola n\'a pas été éffectué correctement.') ?></p>
<p><?php echo __('Une erreur s\'est produite dans le processus de paiement.') ?></p>
