<div class="page-title">
    <h1><?php echo __('Votre commande a été reçue.') ?></h1>
</div>
<?php //echo $block->getMessagesBlock()->getGroupedHtml() ?>
<h2 class="sub-title"><?php echo __('Nous vous remercions de votre achat!') ?></h2>

<!--<img class="mvola-logo-validation" src="--><?php //echo $block->escapeHtml($block->getViewFileUrl('Telma_Mvola::images/mvola/mvola.gif')) ?><!--" alt="--><?php //echo __('Paiement avec MVola') ?><!--" title="--><?php //echo __('Paiement avec MVola') ?><!--" />-->
<?php if ($block->getRealOrderId()):?>
    <?php if ($block->getCanViewOrder()) :?>
        <p>
            <?php
                echo sprintf( __('Votre commande # est: <a href="%s">%s</a>.'), $block->getViewOrderUrl(), $block->getRealOrderId() );
            ?>
        </p>
    <?php  else :?>
        <p><?php echo sprintf( __('Votre commande # est: %s.'),  $block->getRealOrderId() ); ?></p>
    <?php endif;?><br/>

    <p><?php echo __('Vous recevrez un email de confirmation de commande avec les détails de votre commande et un lien pour suivre ses progrès.') ?></p>
    <?php if ($block->getCanViewOrder() && $block->getCanPrintOrder()) :?>
        <p>
            <?php echo sprintf( __('Cliquez <a href="%s" onclick="this.target=\'_blank\'">ici pour imprimer</a> une copie de votre confirmation de commande.'), $block->getPrintUrl()) ?>
            <?php echo $block->getChildHtml() ?>
        </p>
    <?php endif;?>
<?php endif;?>

<?php if ($block->getAgreementRefId()): ?>
    <p><?php echo sprintf( __('Votre contrat de facturation # est: <a href="%s">%s</a>'), $block->getAgreementUrl(), $block->getAgreementRefId()); ?></p>
<?php endif;?>

<?php if ($profiles = $block->getRecurringProfiles()):?>
<p><?php echo __('Vos profils de paiement récurrents:'); ?></p>
<ul class="disc">
    <?php foreach($profiles as $profile):?>
        <?php $profileIdHtml = ($block->getCanViewProfiles() ? sprintf('<a href="%s">%s</a>', $block->getProfileUrl($profile), $block->getObjectData($profile, 'reference_id')) : $block->getObjectData($profile, 'reference_id')); ?>
        <li><?php echo sprintf( __('Profil de paiement # %s: "%s".'), $profileIdHtml, $block->getObjectData($profile, 'schedule_description')); ?></li>
    <?php endforeach;?>
</ul>
<?php endif;?>

<div class="buttons-set">
    <button type="button" class="button" title="<?php echo __('Continuez les achats') ?>" onclick="window.location='<?php echo $block->getUrl() ?>'"><span><span><?php echo __('Continuez les achats') ?></span></span></button>
</div>
