<div class="">
    <h1><?php echo __('Validation de votre commande') ?></h1><br/>
    <img class="mvola-logo-validation" src="<?php echo $this->escapeHtml($this->getLogoImageUrl()) ?>" alt="<?php echo __('Paiement avec MVola') ?>" title="<?php echo __('Paiement avec MVola') ?>" />
    <p>
        <?php echo __('Vous avez choisi de payer avec MVola') ?> <br/>
        <?php echo __('Votre paiement avec MVola a été bien éffectué') ?>
    </p>
</div>