<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
$_objectManager = \Magento\Framework\App\ObjectManager::getInstance(); //instance of\Magento\Framework\App\ObjectManager
$storeManager = $_objectManager->get('Magento\Store\Model\StoreManagerInterface');
$currentStore = $storeManager->getStore();
$mediaPath = $currentStore->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);

?>
<div class="contact">
    <div class="bg">
        <!--iframe src="https://www.google.com/maps/d/u/0/embed?mid=1OsJ6_gYynFvscpL8Yjo3HgmJl4qQOw0M" width="100%" height="100%"></iframe-->
        <img src="<?php echo $mediaPath.'wysiwyg/maps.PNG'; ?>" alt="Map">
    </div>
    <div class="container-inner">
        <div class="cvg-container">
            <div class="row">
                <div class="col-md-4 col-lg-4 col-xs-12 box">
                    <div class="info">
                        <h4>BOUTIQUE</h4>
                        <div class="content">
                            <img src="<?php echo $mediaPath.'wysiwyg/home.jpg'; ?>"  alt="Home">
                            <p>
                                Lot IVF-4 Fitroafana <br>
                                Talatamaty <br>
                                ANTANANARIVO 101 <br>
                                Madagascar <br>
                            </p>
                        </div>
                        <div class="content">
                            <img src="<?php echo $mediaPath.'wysiwyg/phone.jpg'; ?>"  alt="Contact">
                            <p>
                                <!-- +261 32 51 486 84<br-->
                                +261 32 11 347 50
                               <!-- +261 34 61 687 54<br-->
                            </p>
                        </div>
                        <div class="clearfix"></div>
                        <div class="content">
                            <img src="<?php echo $mediaPath.'wysiwyg/envelope.jpg'; ?>"  alt="Email">
                            <p>
                                contact@floribis-mg.com <br>
                                Heure d'ouverture :<br>
                                Lundi - Vendredi<br>
                                9h à 18h <br>
                                Samedi 9h à 12h
                            </p>
                        </div>  
                    </div>
                    <div class="info">
                        <h4>USINE</h4>
                        <div class="content">
                            <img src="<?php echo $mediaPath.'wysiwyg/vanilla.jpg'; ?>"  alt="Email">
                            <p>
                                BP 34 Analabe <br>
                                Vohemar 0020 <br>
                                Madagascar <br>
                            </p>
                        </div>
                        <!--div class="content">
                            <img src="<?php echo $mediaPath.'wysiwyg/phone.jpg'; ?>"  alt="Contact">
                            <p>
                                +261 32 07 036 84 <br>
                            </p>
                        </div>
                        <div class="content">
                            <img src="<?php echo $mediaPath.'wysiwyg/envelope.jpg'; ?>"  alt="Contact">
                            <p>
                                floribis@floribis-mg.com <br>
                            </p>
                        </div-->
                        <div class="clearfix"></div>

                    </div>
                </div>
                <div class="col-md-8 col-lg-8 col-xs-12 box">
                    <form class="form contact"
                          action="<?php /* @escapeNotVerified */ echo $block->getFormAction(); ?>"
                          id="contact-form"
                          method="post"
                          data-hasrequired="<?php /* @escapeNotVerified */ echo __('* Champs requis') ?>"
                          data-mage-init='{"validation":{}}'
                          autocomplete="off"
                    >
                        <fieldset class="fieldset">
                            <legend class="legend"><span><?php /* @escapeNotVerified */ echo __('Votre message') ?></span></legend><br />
                            <!--div-- class="field note no-label"><?php /* @escapeNotVerified */ echo __('Jot us a note and we’ll get back to you as quickly as possible.') ?></div-->
                            <div class="field name required">
                                <label class="label" for="name"><span><?php /* @escapeNotVerified */ echo __('Nom complet') ?></span></label>
                                <div class="control">
                                    <input name="name" id="name" title="<?php /* @escapeNotVerified */ echo __('Nom complet') ?>" value="<?php echo $block->escapeHtml($this->helper('Magento\Contact\Helper\Data')->getPostValue('name') ?: $this->helper('Magento\Contact\Helper\Data')->getUserName()) ?>" class="input-text" type="text" data-validate="{required:true}"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-xs-12 col-lg-5">
                                    <div class="field email required">
                                        <label class="label" for="email"><span><?php /* @escapeNotVerified */ echo __('Email') ?></span></label>
                                        <div class="control">
                                            <input name="email" id="email" title="<?php /* @escapeNotVerified */ echo __('Email') ?>" value="<?php echo $block->escapeHtml($this->helper('Magento\Contact\Helper\Data')->getPostValue('email') ?: $this->helper('Magento\Contact\Helper\Data')->getUserEmail()) ?>" class="input-text" type="email" data-validate="{required:true, 'validate-email':true}"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-xs-12 col-lg-4">
                                    <div class="field telephone">
                                        <label class="label" for="telephone"><span><?php /* @escapeNotVerified */ echo __('Téléphone') ?></span></label>
                                        <div class="control">
                                            <input name="telephone" id="telephone" title="<?php /* @escapeNotVerified */ echo __('Téléphone') ?>" value="<?php echo $block->escapeHtml($this->helper('Magento\Contact\Helper\Data')->getPostValue('telephone')) ?>" class="input-text" type="text" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="field comment required">
                                <label class="label" for="comment"><span><?php /* @escapeNotVerified */ echo __('Message') ?></span></label>
                                <div class="control">
                                    <textarea name="comment" id="comment" title="<?php /* @escapeNotVerified */ echo __('Message') ?>" class="input-text" cols="5" rows="3" data-validate="{required:true}"><?php echo $block->escapeHtml($this->helper('Magento\Contact\Helper\Data')->getPostValue('comment')) ?></textarea>
                                </div>
                            </div>
                            <?php echo $block->getChildHtml('form.additional.info'); ?>
                        </fieldset>
                        <div class="actions-toolbar">
                            <div class="primary">
                                <input type="hidden" name="hideit" id="hideit" value="" />
                                <button type="submit" title="<?php /* @escapeNotVerified */ echo __('Envoyer') ?>" class="action submit primary">
                                    <span><?php /* @escapeNotVerified */ echo __('Envoyer') ?></span>
                                </button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>