<div class="footer-container">
	
	<?php //echo $block->getLayout()->createBlock('Plazathemes\Brandslider\Block\Brandslider')->setTemplate('Plazathemes_Brandslider::brandslider.phtml')->toHtml();?>
	<div class="footer-newsletter">
		<div class="container-inner">
			<?php echo $block->getLayout()->createBlock('Magento\Newsletter\Block\Subscribe')->setTemplate('Magento_Newsletter::subscribe.phtml')->toHtml();?>
			<?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('link_follow')->toHtml();?>
		</div>
	</div>
	<div class="footer-middle">
		<div class="container-inner">
			<?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('static1_footer')->toHtml();?>
		</div>
	</div>
	<div class="footer-top">
		<div class="container-inner">
			<?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('footer_top')->toHtml();?>
		</div>
	</div>
	<div class="footer-bottom">
		<div class="container-inner">
			<div class="row">
				<div class="col-md-4">
					<?php echo $this->getChildHtml('copyright')?>
				</div>
				
				<div class="col-md-4">
					<?php echo $this->getChildHtml("store_switcher"); ?>
				</div>
				<div class="col-md-4">
					<div class="footer_payment">
						<?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('footer_payment')->toHtml();?>
					</div>	
				</div>
			</div>
		</div>
		<div id="back_top">
			<a href="#back-top"><span>>top</span></a>
		</div>
	</div>
</div>
<script type="text/javascript">
			
	require(["jquery"], function($){

	   $(window).scroll(function() {
			if($(this).scrollTop() > 300) {
				$('#back_top').fadeIn();   
			} else {
				$('#back_top').fadeOut();
			}
		});
		   $('#back_top').click(function() {
			$('body,html').animate({scrollTop:0},500);
		}); 
	   $('#Price_rating_label').html('Prix')
	   $('#Value_rating_label').html('Valeur')
	   $('#Quality_rating_label').html('Qualité')
	   $('#email_address-error').html('Ceci est un champs requis');
	   $("#email-error").html('Veuillez entrer une adresse email valide (Ex: johndoe@domain.com).');
	   $("#pass-error").html('Ceci est un champs requis');
	   $('#product-updatecart-button span').html('Mettre à jour le panier');
	   $('.login').attr('data-hasrequired', "* Champs requis");
	   /*
	   $('.mage-error').each(function() {
	       $(this).html('Ceci est un champs requis');
	   });
	   */
	   $('.field.note').attr('data-bind',"text: isVirtual ? $t('Entrez votre adresse de facturation pour obtenir une estimation fiscale.') : $t('Entrez votre destination pour obtenir un devis d expédition.)");
       $('.field.note').html('Entrez votre destination pour obtenir un devis d expédition.');
        	   
	    
	});

</script>