<?php $block->renderFileLessToCss(); ?>
<header class="header-container">

		<div class="header">
			<div class="h-left">
				<?php echo $this->getChildHtml("logo"); ?>
				
			</div>
			<div class="h-right">
				<?php echo $this->getChildHtml("hozmegamenu_top"); ?>
			
				<div class="absolute">
					<div class="link-hover">
						<p class="icon icon-User"></p>
						<div>
							<!--?php echo $this->getChildHtml("store_language"); ?-->
							<div class="my-acount">
								<?php echo $block->getCustomerName(); ?>
								<!--strong class="label"><span><?php /* @escapeNotVerified */ echo __('My Account') ?></span></strong-->
								<?php echo $this->getChildHtml("top.links"); ?>
							</div>
							<?php echo $this->getChildHtml("currency"); ?>
						</div>
					</div>
					<div class="search-switcher">
						<?php echo $this->getChildHtml("top.search"); ?>
					</div>
					<?php echo $this->getChildHtml("minicart");?>
				</div>
			</div>
		</div>
		<div class="nav-ozmegamenu-inner">
			<div class="mobile-bar-icon"><span><?php /* @escapeNotVerified */ echo __('mobile icon'); ?></span></div>
		</div>
		<div class="mobile-bar-content">
			<div class ="mobile-bar-close"><?php /* @escapeNotVerified */ echo __('Close'); ?></div>
			<ul class = "tabs-mobile">
				<li class="item item-menu"><?php /* @escapeNotVerified */ echo __('Menu'); ?></li>
			</ul>
			<div class="tabs-content-mobile tabs-menu">
				<?php echo $this->getChildHtml("mobilemenu"); ?>
			</div>
		</div>
</header>
<script type="text/javascript">
require(["jquery"], function($){
	$(document).ready(function(){
		<!-- show, hide mobile bar content -->
		$(".mobile-bar-icon").click(function(){
			$(".mobile-bar-content").addClass("open");
		});
		$(".mobile-bar-close").click(function(){
			$(".mobile-bar-content").removeClass("open");
		});
	
	});
	$(window).scroll(function () {
	   if ($(this).scrollTop() > 0) {
		 $('.header-container').addClass("fix-header-container");
	   } else {
		$('.header-container').removeClass("fix-header-container");
	   }
	});
});
</script>



