<?php
/**
 * Copyright © 2015 PlazaThemes.com. All rights reserved.

 * @author PlazaThemes Team <contact@plazathemes.com>
 */
?>
<?php
/**
 * Blog post list item template
 *
 * @var $block \Plazathemes\Blog\Block\Post\AbstractPost
 */
?>
<?php
    $_post = $this->getPost();
    $_postUrl = $_post->getPostUrl();
    $_postName = $block->escapeHtml($_post->getTitle(), null, true);
    var_dump($_post);
?>
<li class="post-holder post-holder-<?php echo $_post->getId() ?>">
	<div class="row">
		<div class="col-sm-6 col-xs-12">
			<div class="post-images">
				<a href="<?php echo $_post->getPostUrl() ?>">
					<img src="<?php echo $this->getMediaFolder().$_post->getThumbnailimage() ?>"/>
				</a> 
				<?php echo $this->getInfoHtml() ?>
			</div>
		</div>
		<div class="col-sm-6 col-xs-12">
			<div class="post-content">
				<div class="post-title-holder clearfix">
					<h2 class="post-title">
						<a class="post-item-link"
						   href="<?php echo $_postUrl ?>">
							<?php echo $_postName; ?>
						</a>
					</h2> 
				</div> 
				<div class="post-description clearfix">
					<?php echo $block->getShorContent() ?>
					
				</div>
				<a class="post-read-more" href="<?php echo $_postUrl ?>" title="<?php echo $_postName ?>"
					   >
				   <?php echo __('Continus Reading &#187;') ?>
				</a>
			</div> 
		</div>
	</div>
    

   
</li>