<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<div class="newsletter">
	<div class='newsletter-title'>
		<h2><span><?php /* @escapeNotVerified */ echo __('Newsletter.') ?></span></h2>
		<label><?php /* @escapeNotVerified */ echo __('Recevez par mail des notifications sur nos offres spéciales') ?></label>
	</div>
	<form class="form subscribe"
		novalidate
		action="<?php /* @escapeNotVerified */ echo $block->getFormActionUrl() ?>"
		method="post"
		data-mage-init='{"validation": {"errorClass": "mage-error"}}'
		id="newsletter-validate-detail">

		<div class="control">
			<input name="email" type="email" id="newsletter"
						placeholder="<?php /* @escapeNotVerified */ echo __('Votre adresse email') ?>"
						data-validate="{required:true, 'validate-email':true}"/>
						
			<button class="action subscribe primary" title="<?php /* @escapeNotVerified */ echo __('S\'abonner') ?>" type="submit">
			<span><?php /* @escapeNotVerified */ echo __('S\'abonner') ?></span>
			</button>			
		</div>

	</form>
</div>
